name: Local Lakekeeper Testing
on:
  push:
  pull_request:
  workflow_dispatch:
  workflow_call:
    inputs:
      artifact-name:
        description: "Name of the DuckDB-Iceberg artifact to download"
        required: true
        type: string

jobs:
  rest:
    name: Test against Lakekeeper Catalog
    runs-on: ubuntu-latest
    env:
      VCPKG_TARGET_TRIPLET: 'x64-linux-release'
      GEN: ninja
      VCPKG_FEATURE_FLAGS: "-binarycaching"
      VCPKG_TOOLCHAIN_PATH: ${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake
      PIP_BREAK_SYSTEM_PACKAGES: 1

    steps:
      - name: Install required ubuntu packages
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install -y -qq software-properties-common
          sudo add-apt-repository ppa:git-core/ppa
          sudo apt-get update -y -qq
          sudo apt-get install -y -qq \
            ninja-build \
            make gcc-multilib \
            g++-multilib \
            libssl-dev \
            wget \
            openjdk-8-jdk \
            zip \
            maven \
            unixodbc-dev \
            libc6-dev-i386 \
            lib32readline6-dev \
            libssl-dev \
            libcurl4-gnutls-dev \
            libexpat1-dev \
            gettext \
            unzip \
            build-essential \
            checkinstall \
            libffi-dev \
            curl \
            libz-dev \
            openssh-client
          sudo apt-get install -y -qq tar pkg-config
          sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11.1
        with:
          vcpkgGitCommitId: 84bab45d415d22042bd0b9081aea57f362da3f35

      - name: Setup Ccache
        uses: hendrikmuhs/ccache-action@main
        continue-on-error: true

      - name: Add minio host entry
        run: |
          echo "127.0.0.1 minio" | sudo tee -a /etc/hosts

      - name: Clone Lakekeeper
        uses: actions/checkout@v4
        with:
          repository: lakekeeper/lakekeeper
          ref: f6aaa4570cf62d54943581e7a00b9f882d9c992d
          path: lakekeeper

      - name: Apply lakekeeper patch
        run: |
          cd lakekeeper
          git apply ../.github/patches/lakekeeper_docker_compose.patch

      - name: Start Lakekeeper
        run: |
          cd lakekeeper/examples/access-control-simple
          docker compose up -d

      - name: Bootstrap, Create Warehouse and Populate Lakekeeper
        run: |
          cd lakekeeper/examples/access-control-simple
          docker compose exec jupyter start.sh bash -lc "\
            jupyter nbconvert --to notebook --execute --output-dir=/tmp /home/jovyan/examples/01-Bootstrap.ipynb && \
            jupyter nbconvert --to notebook --execute --output-dir=/tmp /home/jovyan/examples/02-Create-Warehouse.ipynb && \
            jupyter nbconvert --to notebook --execute --output-dir=/tmp /home/jovyan/examples/03-01-Spark.ipynb"

      - name: Generate Data
        run: |
          sudo apt-get install -y -qq python3-venv
          python3 -m venv .
          source ./bin/activate
          python3 -m pip install pyspark==3.5.0
          python3 -m scripts.data_generators.generate_data lakekeeper

      - name: Build extension
        env:
          GEN: ninja
          STATIC_LIBCPP: 1
        run: |
          make release

      - name: Test with rest catalog
        env:
          LAKEKEEPER_SERVER_AVAILABLE: 1
        run: |
          ./build/release/test/unittest "$PWD/test/*" --list-test-names-only || true
          ./build/release/test/unittest "$PWD/test/*"

