name: Local Lakekeeper Testing
on:
  push:
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true

env:
  BASE_BRANCH: ${{ github.base_ref || (endsWith(github.ref, '_feature') && 'feature' || 'main') }}

jobs:
  rest:
    name: Test against Lakekeeper Catalog
    runs-on: ubuntu-latest
    if: false
    env:
      VCPKG_TARGET_TRIPLET: 'x64-linux-release'
      GEN: ninja
      VCPKG_FEATURE_FLAGS: "-binarycaching"
      VCPKG_TOOLCHAIN_PATH: ${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake
      PIP_BREAK_SYSTEM_PACKAGES: 1

    steps:
      - name: Install required ubuntu packages
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install -y -qq software-properties-common
          sudo add-apt-repository ppa:git-core/ppa
          sudo apt-get update -y -qq
          sudo apt-get install -y -qq \
            ninja-build \
            make gcc-multilib \
            g++-multilib \
            libssl-dev \
            wget \
            openjdk-8-jdk \
            zip \
            maven \
            unixodbc-dev \
            libc6-dev-i386 \
            lib32readline6-dev \
            libssl-dev \
            libcurl4-gnutls-dev \
            libexpat1-dev \
            gettext \
            unzip \
            build-essential \
            checkinstall \
            libffi-dev \
            curl \
            libz-dev \
            openssh-client
          sudo apt-get install -y -qq tar pkg-config
          sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11.1
        with:
          vcpkgGitCommitId: 84bab45d415d22042bd0b9081aea57f362da3f35

      - name: Setup Ccache
        uses: hendrikmuhs/ccache-action@main
        continue-on-error: true

      - name: Build extension
        env:
          GEN: ninja
          STATIC_LIBCPP: 1
        run: |
          make release

      - name: Add minio host entry
        run: |
          echo "127.0.0.1 minio" | sudo tee -a /etc/hosts

      - name: Set up for Lakekeeper
        run: |
          cd scripts/lakekeeper/access-control-simple
          docker compose up

      - name: Wait for Keycloak
        run: |
          max_attempts=30
          attempt=1
          while ! curl -sf "http://localhost:30080/realms/master/.well-known/openid-configuration"; do
            if [ $attempt -gt $max_attempts ]; then
              echo "Keycloak failed to initialize after $max_attempts attempts"
              exit 1
            fi
            echo "Waiting for Keycloak to initialize (attempt $attempt/$max_attempts)..."
            sleep 5
            attempt=$((attempt + 1))
          done
          echo "Keycloak is healthy"

      - name: Wait for Lakekeeper
        run: |
          max_attempts=30
          attempt=1
          while ! curl -sf "http://localhost:8181/health"; do
            if [ $attempt -gt $max_attempts ]; then
              echo "Lakekeeper failed to initialize after $max_attempts attempts"
              exit 1
            fi
            echo "Waiting for Lakekeeper to initialize (attempt $attempt/$max_attempts)..."
            sleep 5
            attempt=$((attempt + 1))
          done
          echo "Lakekeeper is healthy"
          

      - name: Wait for Minio
        run: |
          max_attempts=30
          attempt=1
          while ! curl -sf "http://localhost:9000"; do
            if [ $attempt -gt $max_attempts ]; then
              echo "Minio failed to initialize after $max_attempts attempts"
              exit 1
            fi
            echo "Waiting for Minio to initialize (attempt $attempt/$max_attempts)..."
            sleep 5
            attempt=$((attempt + 1))
          done
          echo "Minio is healthy"

      - name: Populate Lakekeeper
        env:
          JAVA_HOME: /usr/lib/jvm/java-21-openjdk-amd64
        run: |
          docker compose exec jupyter start.sh bash -lc "jupyter nbconvert --to notebook --execute /home/jovyan/examples/01-Bootstrap.ipynb --inplace && jupyter nbconvert --to notebook --execute /home/jovyan/examples/02-Create-Warehouse.ipynb --inplace && jupyter nbconvert --to notebook --execute /home/jovyan/examples/03-01-Spark.ipynb --inplace"

      - name: Test with rest catalog
        env:
          LAKEKEEPER_SERVER_AVAILABLE: 1
        run: |
          ./build/release/test/unittest "$PWD/test/*" --list-test-names-only || true
          ./build/release/test/unittest "$PWD/test/*"

